.contain-1{

    background-color: #000000;
    text-align: center;
    color:white;
}
.dropdown-menu{
  background-color: #000000;
}
.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}
